parameters:
    level: 9
    paths:
        - src
    stubFiles:
        - stubs/Gemvc/Http/Request.php
        - stubs/Gemvc/Http/ApiCall.php
        - stubs/Gemvc/Http/AsyncApiCall.php
        - stubs/Gemvc/Http/JsonResponse.php
        - stubs/Gemvc/Http/Response.php
        - stubs/Gemvc/Helper/ProjectHelper.php
